body {
    background-color: dimgray;
}

.machineCard {
    background-color: rgba(235, 228, 20, 0.857);
    padding: 10px;
    border-radius: 10px;
}


.metricsView .modulesView{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(1, 1fr);
}

.detailsView {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(2, 1fr);
}

.metrics {
    background-color: white;
    border-radius: 5px;
    padding: 3px
}

.modules {
    background-color: white;
    border-radius: 5px;
    padding: 3px
}

.details {
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    grid-row: span 2;

}

@media screen and (max-width: 200px) {
    .detailsView {
        grid-template-columns: repeat(1, 1fr);
    }
    .details {
        grid-row: 3 / 5;
    }
}